<div class="jumbotron">
    <h1>Angular Project Skills Assessment Web API</h1>
    <p class="lead">By Prosper Nlooto</p>
    <p>
        View Web API Documentation - Click <a href="@Url.Action("Index","Help")">here</a>
    </p>
</div>

