<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Contact Me</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <p class="text-center">
      <img class="rounded-circle" src="assets/photo.jpg" /><br />
      <strong>Prosper Nlooto</strong><br />
      <span style="font-size:smaller" class="text-muted">Senior Software Developer at Conversation LAB</span>
    </p>
  </div>
  <div class="col-md-8">
    <h4 class="text-right">Contact Details</h4>
    <div class="row py-3">
      <div class="col-sm-12">
        <p class="text-right">
          Phone -  064 858 37 41 <br />
          LinkedIn - <a href="https://www.linkedin.com/in/prosper-nlooto-6b7073112/">Prosper Nlooto</a><br />
          Email - <a href="mailto:prospernlo@gmail.com">prospernlo@gmail.com</a>

        </p>
      </div>
    </div>
  </div>
</div>

