
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/welcome">Angular Project Skills Assessment</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav">

          <a class="nav-item nav-link" routerLink="/about-me">About Me</a>
          <a class="nav-item nav-link" routerLink="/contact-me">Contact Us</a>
          <a class="nav-item nav-link" routerLink="/personslist">Person List</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container py-3">
    <router-outlet></router-outlet>
  </div>
