<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Persons List Page</h1>
</div>
<div class="row">
  <div class="col-md-5">
    <app-person-form></app-person-form>
  </div>
  <div class="col-md-7">
    <form class="form-inline float-right py-3" novalidate autocomplete="off" #form="ngForm" (submit)="onSearch(form)">
      <input name="search" [(ngModel)]="term" (change)="SearchBoxChanged()"
             class="form-control mr-sm-2" type="search" placeholder="Search by ID Number, surname or account number" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>ID Number</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{pd.name}}</td>
        <td (click)="populateForm(pd)">{{pd.surname}}</td>
        <td (click)="populateForm(pd)">{{pd.id_number}}</td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.code)"></i>
        </td>
      </tr>
    </table>
  </div>
</div>
