<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Transactions List Page</h1>
</div>
<div class="row">
  <div class="col-md-5">
    <app-transactions-form></app-transactions-form>
  </div>
  <div class="col-md-7">

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Transaction Date</th>
          <th>Amount</th>
          <th>Description</th>
         
        </tr>
      </thead>
      <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{pd.transaction_date | date:'medium'}}</td>
        <td (click)="populateForm(pd)">{{pd.amount}}</td>
        <td (click)="populateForm(pd)">{{pd.description}}</td>
       
      </tr>
    </table>
  </div>
</div>

