<div class="jumbotron py-3">
  <h1 class="display-4 text-center">About Me</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <p class="text-center">
      <img class="rounded-circle" src="assets/photo.jpg"/><br />
      <strong>Prosper Nlooto</strong><br />
      <span style="font-size:smaller" class="text-muted">Senior Software Developer at Conversation LAB</span>
    </p>
  </div>
  <div class="col-md-8">
    <h6>About</h6>
    <p class="text-left">
      Highly motivated self-starter Developer and Solutions Expert , with an experience in ASP.NET MVC, Web forms, JSON/XML Web API and COM API Integrations. SQL Server Database development and administration. Cross Platform Mobile/Desktop Application. Azure Development and Facebook Messenger App Developer. SAP Integration.
    </p>
  </div>
</div>
